title{
    font-family: Georgia;
}

.bandeau{
    background-image: url(Photos/fond2.jpg);
    background-size: 100%;
    background-position:top;
}


body{
    background-color: whitesmoke;
}

h1{
    font-family: Georgia;
    margin-left: 40%;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia;
}

nav{
    width: 100%;
    margin: 0 auto;
    Background-color: rgb(194, 187, 181);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float:left;
    width: 33.33%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: transparent;
}